.hero {
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    color: var(--second-main-color);
    padding-bottom: 17em;
}
.branding {
    /* text */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--Heading-color);
    /* box */
    width: 230px;
    height: 35px;
    border-radius: 40px;
    /* arrangement */
    margin: 0 auto;
    margin-bottom: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; 
    transition-duration: 0.3s;
    margin-top: 35px;
}
h1 {
    margin: 0 auto;
}
.title {
    font-style: normal;
    font-weight: 600;
    font-size: 4.25em;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg, #FB83F6 0%, #8BC7FE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 6px;
}

.subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 4.25em;
    line-height: 70px;
    align-items: center;
    text-align: center;

    color: var(--Heading-color);
}

.description {
    max-width: 852px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: var(--subtext-color);
    margin: 0 auto;
    margin-top: 44px;
    margin-bottom: 64px;
}
.hero::before, .hero::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(131, 196, 255, 0.5) -10%, rgba(255, 255, 255, 0) 60%);
    z-index: -1; 
}
  
.hero::before {
    width: 800px;
    height: 600px;
    top: 150px; 
    right: 0px; 
}
  
.hero::after {
    width: 900px;
    height: 700px;
    left: -50px;
    top: 70px;
    background: radial-gradient(circle, rgba(255, 177, 245, 0.5) 0%, rgba(255, 255, 255, 0) 60%);
}
.dark #mainButton {
    background-color: var(--primary-color); 
    box-shadow: 0px 0px 20px rgba(139, 150, 254, 0.5);
} 
.dark #mainButton:hover {
    background-color: var(--lighter-primary-color); 
    box-shadow: 0px 0px 20px rgba(139, 150, 254, 0.5);
} 



.dark .hero::before, .dark .hero::after {
    background: none; 
}
.dark .title {
    background: linear-gradient(90deg, #83fbe7 0%, #8BC7FE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}